<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <v-app>
            <v-container fluid style="max-width: 440px;">
                <v-alert color="blue" dark outlined>
                    <v-row>
                        <v-col>
                            <p v-if="powerState == 'ON'">{{artist}}<br>{{track}}</p>
                            <p v-else>Denon turned off</p>
                            <v-progress-linear v-if="powerState == 'ON'" color="blue lighten-2" buffer-value="0" stream>
                            </v-progress-linear>
                        </v-col>
                        <v-col class="col-auto">
                            <v-btn :loading="stateLoading" color="primary" icon large class="mb-2" elevation="2"
                                @click="togglePower()">
                                <v-icon>power_settings_new</v-icon>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-alert>
                <v-slider v-model="volume" :disabled="powerState != 'ON'" append-icon="volume_up"
                    prepend-icon="volume_down" min="0" :max="volMax" @click:append="setVolume(volume+1)"
                    @click:prepend="setVolume(volume-1)" @change="setVolume(volume)" class="ma-5">
                </v-slider>
                <v-row>
                    <v-col v-for="c in channels">
                        <v-card v-on:click="changeChannel(c.channelNumber)" class="d-flex align-center" width="120px"
                            height="120px" href="#">
                            <v-img width="100px" v-bind:src="'img/'+c.image">
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-app>
    </div>
    <script src="script.js"></script>
</body>

</html>